@font-face {
    font-family: "CeraPro-Bold";
    src:url("./fonts/CeraPro-Bold.woff2") format("woff2"),
        url("./fonts/CeraPro-Bold.woff") format("woff"),
        url("./fonts/CeraPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro Thin";
    src:url('./fonts/CeraPro-Thin.woff2') format('woff2'),
        url('./fonts/CeraPro-Thin.woff') format('woff'),
        url('./fonts/CeraPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src:url('./fonts/CeraPro-Regular.woff2') format('woff2'),
        url('./fonts/CeraPro-Regular.woff') format('woff'),
        url('./fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

a {
    padding: 0.5rem 0.5rem;
}


html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.head-block {
    margin: 0;
    padding: 0;
    background: #fff;
    position: relative;
}

.head-block__bg--img {
    height: 100vh;
    width: 100%;
    background: url(./img/bg/bg_head.png) center center / cover no-repeat;
    border-radius: 2.5rem 2.5rem 0 0;
}

.header {
    margin: 0;
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-family: "CeraPro-Bold";
    font-weight: 700;
}

ul {
    padding: 0;
    margin: 0;
}

ul>div>li {
    list-style: none;
}

ul>div>div>li {
    list-style: none;
}

.head__list {
    position: relative;
    top: 3.25rem;
    display: flex;
    justify-content: space-between;
}

.head__list--position-left {
    width: 14.5rem;
    position: relative;
    left: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.head__list--position-center {
    width: 11.25rem;
    align-content: space-between;
}

.head__list--position-right {
    width: 12.5rem;
    position: relative;
    right: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.head__item--position-right {
    display: flex;
    justify-content: space-between;
}

.head__link--font-size {
    font-size: 1rem;
    font-family: "Cera Pro";
}

.head__link {
    color: #fff;
    text-decoration: none;
}

.icon--white {
    height: 0.875rem;
    width: 0.875rem;
    fill: #fff;
}

.header-center {
    font-family: "Cera Pro Thin";
    padding-bottom: 0.5rem;
    margin: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    top: 46%;
    left: 37%;
    font-size: 3.3rem;
    line-height: 1;
    border-bottom: 2px solid #fff;
}

.arrow {
    padding: 0;
    margin: 0;
    width: 3.75rem;
    height: 2.75rem;
}

.right-arrow {
    width: 3.75rem;
    height: 2.75rem;
    fill: #fff;
    background: rgba(136, 136, 136, 0.3);
    border-radius: 2.5rem;
    position: absolute;
    top: 46%;
    left: 91%;
}

.left-arrow {
    width: 3.75rem;
    height: 2.75rem;
    fill: #fff;
    background: rgba(136, 136, 136, 0.3);
    border-radius: 2.5rem;
    rotate: 180deg;
    position: absolute;
    top: 46%;
    left: 5%;
}

.circle {
    padding: 0;
    height: 0.625rem;
    width: 0.625rem;
    background: rgba(226, 227, 229, 0.5);
    position: absolute;
    border-radius: 0.625rem;
    color: #fff;
    top: 96%;
    left: 45%;
}


.circle--bg-position2 {
    left: 46%;
}

.circle--bg-position3 {
    left: 47%;
}

.circle--bg-position4 {
    left: 48%;
}

.circle--bg-position5 {
    left: 49%;
}

.product {
    height: 100vh;
    background: #f5ece3;

}

.product-column--size {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}


.product__item {
    position: relative;
    margin-right: 40px;
    margin-top: 135px;
    flex: 1;
    align-items: center;
}

.product__img {
    width: 310px;
    height: 430px;
    background: #eee4da;
    text-align: center;
}