@font-face {
    font-family: "CeraPro-Bold";
    src:url("./fonts/CeraPro-Bold.woff2") format("woff2"),
        url("./fonts/CeraPro-Bold.woff") format("woff"),
        url("./fonts/CeraPro-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro Thin";
    src:url('./fonts/CeraPro-Thin.woff2') format('woff2'),
        url('./fonts/CeraPro-Thin.woff') format('woff'),
        url('./fonts/CeraPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Cera Pro";
    src:url('./fonts/CeraPro-Regular.woff2') format('woff2'),
        url('./fonts/CeraPro-Regular.woff') format('woff'),
        url('./fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

:root {
    --fontReg: 'Cera Pro';
    --fontBold: 'CeraPro-Bold';
    --fontThin: 'Cera Pro Thin';
}

a {
    padding: 0.5rem 0.5rem;
}


html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.head-block {
    margin: 0;
    padding: 0;
}

.head-block__bg--img {
    height: 7.5rem;
    width: 100%;
    background: #F5ECE3;
    position: relative;
    border-bottom: 0.125rem solid rgba(0,0,0,0.05);
}

.header {
    margin: 0;
    padding: 0;
    color: #555555;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    font-family: "CeraPro-Bold";
    font-weight: 700;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul>div>li {
    list-style: none;
}

ul>div>div>li {
    list-style: none;
}

.head__list {
    position: relative;
    top: 3.25rem;
    display: flex;
    justify-content: space-between;
}

.head__item--position-left {
    display: none;
}

.head__list--position-left {
    width: 14.5rem;
    position: relative;
    left: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.head__list--position-center {
    width: 11.25rem;
    align-content: space-between;
}

.head__list--position-right {
    width: 12.5rem;
    position: relative;
    right: 4.5rem;
    display: flex;
    justify-content: space-between;
}

.head__item--position-right {
    display: flex;
    justify-content: space-between;
}

.head__link--font-size {
    font-size: 1rem;
    font-family: "Cera Pro";
}

.head__link {
    color: #555555;
    text-decoration: none;
}

.icon--white {
    height: 0.875rem;
    width: 0.875rem;
    fill: #555555;
}

.order-section {
    height: 47.125rem;
    background: #F5ECE3;
    margin: 0 auto;
}

.order-main {
    margin: 0 auto;
    width: 90rem;
    height: 100%;
    display: flex;
}

.checkout {
    margin-left: 4.375rem;
    width: 30.5rem;
    height: 100%;
}

.checkout__header {
    margin-top: 6.375rem;
    margin-bottom: 3rem;
    font-family: var(--fontReg);
    font-size: 3rem;
    color: #555555;
}

.checkout__box--size {
    margin-top: 2.75rem;
    height: 4.75rem;
    
}

.checkout__box__header {
    font-size: 0.875rem;
    font-family: var(--fontReg);
    color: #AC8F78;
}

.input__style {
    width: 100%;
    height: 3.75rem;
    background: #F5ECE3;
    border-style: none;
    font-family: var(--fontReg);
    font-size: 1.25rem;
    color: #555555;
    border-bottom: 1px solid rgba(0,0,0, 0.05);
}

.sign {
    margin-left: 4.75rem;
    width: 18rem;
    height: 100%;
}

.checkbox__favorite {
    margin-top: 7.75rem;
    font-family: var(--fontReg);
    font-size: 0.875rem;
    color: #555555;
    display: block;
}

.sign__setup {
    margin-top: 3.375rem;
   }

.sign__header--style {
    font-family: var(--fontReg);
    font-size: 1rem;
    color: #555555;
}

.sign__par__reg {
    margin: 0;
    margin-top: 0.5rem;
    font-family: var(--fontReg);
    color: #555555;
    font-size: 0.875rem;
}

.sign__item {
    margin-top: 1.125rem;
}
.sign__link {
    font-family: var(--fontReg);
    font-size: 1rem;
    color: #AC8F78;
    text-decoration: none;
}

.sign__delivery {
    margin-top: 4rem;
}

.log-icon {
    width: 1rem;
    height: 1.125rem;
    fill: #AC8F78;
}

.post-company {
    width: 17.5rem;
    height: 3.375rem;
    border-style: none;
    background: #EEE4DA;
    font-family: var(--fontReg);
    font-size: 1rem;
    color: #555555;
    border-radius: 0.25rem;
}

.post-company__item {
    font-family: var(--fontReg);
    font-size: 1rem;
    color: rgba(85, 85, 85,0.5);
}

.post-delivery {
    margin-top: 1.5rem;
    width: 17.5rem;
    height: 3.375rem;
    border-style: none;
    background: #EEE4DA;
    font-family: var(--fontReg);
    font-size: 1rem;
    color: #555555;
    border-radius: 0.25rem;
}

.post-delivery__item {
    font-family: var(--fontReg);
    font-size: 1rem;
    color: rgba(85, 85, 85,0.5);
}

.delivery__explanations {
    width: 14.125rem;
    height: 2.625rem;
    margin-top: 1.25rem;
}

.delivery__explanations__item {
    font-family: var(--fontReg);
    font-size: 0.875rem;
    color: rgba(85,85,85,0.5);
}



.order {
    margin-left: 3.625rem;
    width: 28.75rem;
    height: 100%;
    background: #EEE4DA;
}

.order__container {
    margin: 0;
    height: 35.5rem;
    width: 19.875rem;
    margin-left: 4.625rem;
    margin-top: 6.75rem;
}

.container__top {
    display: flex;
    align-items: center;
}

.top__header {
    margin: 0;
    font-family: var(--fontReg);
    font-size: 2.25rem;
    color: #555555;
}

.top__calc-products {
    margin-left: 1.25rem;
    font-family: var(--fontReg);
    font-size: 0.875rem;
    color: #555555;
}

.top__arrows {
    margin-left: 3.375rem;
}

.top__arrows--bg {
    position: relative;
    width: 4.5rem;
    height: 2.5rem;
    border-radius: 0.625rem;
    background: #F5ECE3;
}

.arrow__icon--style {
    position: absolute;
    width: 0.875rem;
    height: 0.75rem;
    top: 0.875rem;
    fill: #AC8F78;
}

.top__arrow-right {
    margin-left: 1.125rem;
}

.top__arrow-left {
    margin-left: 0.25rem;
}

.products__list {
    margin-top: 1.5rem;
    margin-bottom: 1.75rem;
    height: 19.125rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    margin-bottom: 1.75rem;
    display: flex;
    justify-content: space-between;
}

.price-style {
    font-family: var(--fontReg);
    font-size: 1.5rem;
    color: #555555;
}

.button {
    width: 19.875rem;
    height: 5rem;
    background: #F5ECE3;
    border-radius: 4.125rem;
    border-style: none;
    font-family: var(--fontReg);
    font-size: 1.25rem;
    color: #555555;
    text-align: center;
    margin-bottom: 1.75rem;
}

.button2 {
    background: none;
    border-style: none;
    font-family: var(--fontReg);
    font-size: 0.875rem;
    color: #AC8F78;
}

.order__edit {
    text-align: center;
}

.button2__icon {
    width: 0.625rem;
    height: 0.625rem;
    fill: #AC8F78;
}


.footer {
    background: #eee4da;
}

.footer__header {
    width: 81.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}

.footer__contain {
    margin: 0;
    padding: 0;
    height: 9.75rem;
    border-bottom: 2px solid rgba(0,0,0, 0.05);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer__header--color-brown {
    margin: 0;
    padding: 0;
    width: 11.25rem;
    font-family: "CeraPro-Bold";
    color: #ae937e;
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.625rem;
    
}

.footer__main {
    margin: 0 auto;
    height: 31.25rem;
    width: 81.25rem;
    display: flex;
    justify-content: center;
}

.footer__display-none {
    display: none;
}

.footer__company {
    flex: 1; 
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
}

.footer__company__item {
    margin: 0;
    padding: 0;
    padding-bottom: 1.625rem;
}

.footer__company__text {
    font-family: var(--fontReg);
    font-size: 0.875rem;
    width: 15.25rem;
    text-align: justify;
    color: #b4ada7;
}

.footer__company__text__mobile {
    display: none;
}

.footer__header__foot {
    margin: 0;
    font-family: var(--fontReg);
    font-size: 1.25rem;
    color: #555555;
    margin-top: 4rem;
}


.footer__company__socials {
    padding: 0;
    margin: 0;
    display: flex;
}

.icon__bg {
    height: 2.25rem;
    width: 2.25rem;
    background: #F5ECE3;
    border-radius: 2rem;
    position: relative;
}

.icon-style__company {

    position: absolute;
    height: 1rem;
    fill: #ac907a;
    top: 0.5rem;
    left: -8.25rem;
}

.footer__company__socials--padding {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
}



.icon-style {
    height: 1.125rem;
    width: 1.125rem;
}

.list--style {
    list-style: none;
}

.footer__nav {
    flex: 1;
    margin-left: 7.5rem;
}

.footer__nav__list__link {
    text-decoration: none;
    font-family: var(--fontReg);
    color: #b4ada7;
    padding-left: 0;
    padding-right: 0;
}

.footer__nav__list__link:last-child {
    margin-bottom: 2rem;
    padding-bottom: 0;
}

.footer__nav__list__item {
    margin-top: 1.5rem;
}

.footer__nav__list__item:first-child {
    margin-top: 2.625rem;
}

.footer__products {
    flex: 1;
}

.footer__products__link {
    text-decoration: none;
    font-family: var(--fontReg);
    font-size: 0.875rem;
    color: #b4ada7;
    padding-left: 0;
    padding-right: 0;
}

.footer__products__item {
    margin-top: 1.5rem;
}

.footer__products__item:first-child {
    margin-top: 2.625rem;
}

.footer__contacts {
    flex: 1;
}

.footer__contacts__text {
    font-family: var(--fontReg);
    font-size: 0.875rem;
    width: 15.25rem;
    color: #b4ada7;
    text-align: justify;
}

.icon-ratate {
    rotate: 180deg;
}

.site-menu__text {
    margin-top: 1.5rem;
}

.site-menu__text-row {
    text-decoration: none;
    color: #555555;
    font-family: var(--fontReg);
    font-size: 1rem;
}

.site-menu__text__mobile{
    display: none;
}

.all__rights__mobile {
    display: none;
}